/* styles.css */

/* 整体布局风格 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-info > .player-id {
    margin-right: 20px;
    font-weight: bold;
}

.resources {
    margin-right: 10px;
}

#map-tab {
    background-color: rgba(64, 42, 42, 0.2);
    height: 100%;
}

#bag-tab {
    background-color: rgba(91, 81, 150, 0.2);
    height: 100%;
}

.main-content {
    flex: 1; /* 确保主内容区域填充剩余空间 */
    display: flex;
    padding: 10px;
    /* 如果您还没有设置主内容区域的最小高度，您可以像这样设置 */
    min-height: 500px; /* 或者其他您期望的值 */
}

#tab-content {
    flex: 1; /* 确保标签内容区域填充剩余空间 */
    min-height: 400px;
    width: 100%;
}

/* 标签页样式 */
.tab {
    display: none; /* 默认不显示 */
}

/* 当前激活的标签页 */
.tab.active {
    display: block; /* 显示当前激活的标签页 */
}

#map-tab, #bag-tab, .chat-area {
    display: none; /* 默认隐藏这些区域 */
}

/* logintab的美化 */


/* 聊天区域的样式 */
.chat-area {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* 聊天信息显示区的样式 */
.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    height: 70%;
}

/* 文字输入和按钮区域的样式 */
.chat-input-area {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* 输入框的样式 */
#chat-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    resize: vertical; /* 允许垂直调整大小，或者使用none禁止调整大小 */
    height: 100px; /* 初始高度，根据需要调整 */
    overflow-y: auto; /* 在内容超出高度时显示滚动条 */
}

/* 发送按钮的样式 */
#send-btn {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #4cae4c;
}

/* 上传按钮的样式 */
.upload-btn-label img {
    height: 24px;
    cursor: pointer;
}

.control-panel {
    background-color: #666;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

/* 按钮样式 */
button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

.control-panel button {
    flex: 1;
    max-width: 100px;
}

/* 滚动条样式 */

.event-log-area::-webkit-scrollbar {
    width: 10px;
}

.event-log-area::-webkit-scrollbar-thumb {
    background: #888;
}

.event-log-area::-webkit-scrollbar-thumb:hover {
    background: #555;
}
